.blog-footer .flex-wrapper .additional-text {
	max-width: 300px;
	width: 100%;
}

.blog-footer .flex-wrapper .additional-text span a {
	color: #e1e1e1;
}

.blog-footer .flex-wrapper .additional-text p {
	line-height: 1.3;
}

@media screen and (max-width: 991px) {
	.blog-footer .flex-wrapper .additional-text p {
		font-size: 11.25px;
	}
}

.single-article .content .youtube-frame {
	aspect-ratio: 16/9 !important;
	height: auto !important;
	width: 100% !important;
}

.subscribe-block-2 form.wpcf7-form {
	position: relative;
}

.subscribe-block-2 .form-group p {
	margin-bottom: 0 !important;
	padding: 0 !important;
}

.subscribe-block-2 span.wpcf7-not-valid-tip {
	position: absolute !important;
	width: 100%;
	font-family: "TWKLausannePan-350", sans-serif !important;
	text-align: left !important;
	color: #f00 !important;
	font-size: 16px !important;
	font-weight: normal !important;
	display: block !important;
}

.subscribe-block-2 form .wpcf7-spinner {
	display: none !important;
}

.subscribe-block-2 .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
	display: none !important;
}

.subscribe-block-2 .wpcf7 form.sent .wpcf7-response-output {
	padding: 0 !important;
	margin: 0 !important;
	bottom: -30px !important;
	position: absolute !important;
	text-align: left !important;
	border: none !important;
}

.name-info-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.author-name {
	font-family: "TWK Ghost", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #000;
}

.author-name:hover {
	color: #4c32ff;
}

.author-photo {
	margin-left: 8px;
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 100%;
}

.author-main-info-wrap {
	margin-top: 81px;
	margin-bottom: 54px;
}

.author-main-info-wrap .flex-wrapper {
	display: flex;
	gap: 72px;
}
@media screen and (max-width: 768px) {
	.author-main-info-wrap .flex-wrapper {
		flex-direction: column;
		gap: 24px;
	}
}

.author-main-info-wrap .image-links-wrap {
	text-align: center;
}
.author-main-info-wrap .image-links-wrap .author-photo-large {
	margin-bottom: 20px;
	width: 136px;
	height: 136px;
	object-fit: cover;
	border-radius: 100%;
}
.author-main-info-wrap .image-links-wrap .link-item {
	display: block;
	font-family: "TWK Lausanne Pan", sans-serif;
	font-weight: 350;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #4c32ff;
}

.author-main-info-wrap .name-description-wrap {
	max-width: 560px;
	width: 100%;
}
@media screen and (max-width: 768px) {
	.author-main-info-wrap .name-description-wrap {
		max-width: 100%;
	}
}
.author-main-info-wrap .name-description-wrap h1 {
	margin-bottom: 24px !important;
	font-size: 38px !important;
	line-height: 120% !important;
}
@media screen and (max-width: 768px) {
	.author-main-info-wrap .name-description-wrap h1 {
		text-align: center;
	}
}
.author-main-info-wrap .name-description-wrap .author-description p {
	font-family: "TWK Lausanne Pan", sans-serif;
	font-weight: 350;
	font-size: 16px;
	line-height: 150%;
	color: #000;
}

.author .bottom-article {
	margin-bottom: 50px !important;
}
